@import "react-datepicker/dist/react-datepicker.css";
@import "../ui/modal/modal.scss";

#lxd-publish-interface {
  .button-container {
    display: flex;
    flex-direction: row-reverse;

  }

  .course-row:nth-child(odd) {
      background-color: #f0f0f0;

  }

  .course-row {
    a {
      text-decoration: underline;
    }
  }
}